* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "liter", serif;
}

body {
  position: relative;
  width: 100%;
  border: solid 4px red;
}

body {
  margin: 0;
  padding: 0;
}
body main .herrajesSection {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .herrajesSection .herrajesContainer {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .herrajesSection .herrajesContainer .fa-chevron-left,
body main .herrajesSection .herrajesContainer .fa-chevron-left-acc {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
body main .herrajesSection .herrajesContainer .fa-chevron-left.hidden,
body main .herrajesSection .herrajesContainer .fa-chevron-left-acc.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
body main .herrajesSection .herrajesContainer .fa-chevron-right {
  font-size: 15px;
  margin-left: 10px;
  cursor: pointer;
}
body main .herrajesSection .herrajesContainer .fa-chevron-left {
  font-size: 15px;
  margin-right: 10px;
  cursor: pointer;
}
body main .herrajesSection .herrajesContainer .fa-solid {
  transition: all 0.5s;
}
body main .herrajesSection .herrajesContainer .fa-solid:hover {
  transform: scale(1.3);
  color: #084a95;
}
body main .herrajesSection .herrajesContainer #herrajes {
  width: calc(90% - 60px);
  display: flex;
  align-items: center;
  overflow: hidden;
}
body main .herrajesSection .herrajesContainer #herrajes .card {
  border: solid 1px #828282;
  flex: 0 0 calc(25% - 10px);
  height: 150px;
  display: flex;
  flex-direction: column;
  margin: 0 5px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #efefef;
  box-shadow: rgba(0, 0, 0, 0.1254901961) 0px 0px 7px 1px;
  height: auto;
  box-sizing: border-box;
  cursor: pointer;
}
body main .herrajesSection .herrajesContainer #herrajes .card .imgContainer {
  box-shadow: inset 0px 0px 6px 1px rgba(0, 0, 0, 0.1882352941);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border-bottom: dashed 1px #828282;
  background-color: #d2cfcf;
}
body main .herrajesSection .herrajesContainer #herrajes .card .imgContainer .img {
  width: 80%;
  height: 100%;
  object-fit: cover;
  display: block;
}
body main .herrajesSection .herrajesContainer #herrajes .card .infoContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
body main .herrajesSection .herrajesContainer #herrajes .card .infoContainer h3 {
  height: 100%;
  font-size: 12px;
}
body main .herrajesSection .herrajesContainer #herrajes .card .infoContainer .precio {
  color: green;
  height: 100%;
  font-size: 12px;
}

@media (max-width: 768px) {
  body main .herrajesSection {
    height: 40vh;
    margin-top: 0;
  }
  body main .herrajesSection .herrajesContainer .fa-solid {
    display: none;
  }
  body main .herrajesSection .herrajesContainer #herrajes {
    width: 90%;
    height: 30vh;
    overflow-x: auto;
  }
  body main .herrajesSection .herrajesContainer #herrajes .card {
    flex: 0 0 calc(100% - 10px);
  }
  body main .herrajesSection .herrajesContainer #herrajes .card .infoContainer {
    min-height: 40px;
  }
  body main .herrajesSection .herrajesContainer #herrajes .card .infoContainer h3, body main .herrajesSection .herrajesContainer #herrajes .card .infoContainer .precio {
    font-size: 17px;
  }
}
header {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}
header nav {
  width: 100%;
  height: 60px;
  background-color: #084a95;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2509803922);
}
header nav .logoContainer {
  width: 20%;
  margin-left: 30px;
}
header nav .logoContainer .logo {
  width: 100%;
}
header nav .fa-solid {
  display: none;
}
header nav ul {
  display: flex;
  text-decoration: none;
  gap: 10px;
  list-style: none;
  margin-right: 70px;
}
header nav ul li {
  cursor: pointer;
}
header nav ul li a {
  text-decoration: none;
  color: #efefef;
}

@media (max-width: 768px) {
  header nav {
    height: 70px;
    justify-content: space-between;
    position: relative;
  }
  header nav .logoContainer {
    width: 50%;
    margin-left: 10px;
  }
  header nav .logoContainer .logo {
    transform: translateY(5px);
  }
  header nav .fa-solid {
    display: block;
    margin-right: 40px;
    font-size: 25px;
    color: white;
    z-index: 2;
  }
  header nav ul {
    background-color: #084a95;
    padding-top: 80px;
    padding-left: 20px;
    position: fixed;
    flex-direction: column;
    margin-right: 0;
    width: 150px;
    height: 100vh;
    right: -150px;
    top: 0;
    transition: 0.6s ease;
    z-index: 1;
  }
  header nav ul li {
    margin-top: 20px;
  }
  header nav ul li a {
    font-size: 20px;
  }
  header nav .animation {
    right: 0;
  }
}
body main .accesoriosSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
body main .accesoriosSection .accesoriosContainer {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .accesoriosSection .accesoriosContainer .fa-chevron-left,
body main .accesoriosSection .accesoriosContainer .fa-chevron-left-acc,
body main .accesoriosSection .accesoriosContainer .fa-chevron-right,
body main .accesoriosSection .accesoriosContainer .fa-chevron-right-acc {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
body main .accesoriosSection .accesoriosContainer .fa-chevron-left.hidden,
body main .accesoriosSection .accesoriosContainer .fa-chevron-left-acc.hidden,
body main .accesoriosSection .accesoriosContainer .fa-chevron-right.hidden,
body main .accesoriosSection .accesoriosContainer .fa-chevron-right-acc.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
body main .accesoriosSection .accesoriosContainer .fa-chevron-right {
  font-size: 15px;
  margin-left: 10px;
  cursor: pointer;
}
body main .accesoriosSection .accesoriosContainer .fa-chevron-left {
  font-size: 15px;
  margin-right: 10px;
  cursor: pointer;
}
body main .accesoriosSection .accesoriosContainer .fa-solid {
  transition: all 0.5s;
}
body main .accesoriosSection .accesoriosContainer .fa-solid:hover {
  transform: scale(1.3);
  color: #084a95;
}
body main .accesoriosSection .accesoriosContainer #accesorios {
  width: calc(90% - 60px);
  display: flex;
  align-items: center;
  overflow: hidden;
}
body main .accesoriosSection .accesoriosContainer #accesorios .card {
  border: solid 1px #828282;
  flex: 0 0 calc(25% - 10px);
  height: 150px;
  display: flex;
  flex-direction: column;
  margin: 0 5px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #efefef;
  box-shadow: rgba(0, 0, 0, 0.1254901961) 0px 0px 7px 1px;
  height: auto;
  box-sizing: border-box;
  cursor: pointer;
}
body main .accesoriosSection .accesoriosContainer #accesorios .card .imgContainer {
  box-shadow: inset 0px 0px 6px 1px rgba(0, 0, 0, 0.1882352941);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border-bottom: dashed 1px #828282;
  background-color: #d2cfcf;
}
body main .accesoriosSection .accesoriosContainer #accesorios .card .imgContainer .img {
  width: 80%;
  height: 100%;
  object-fit: cover;
  display: block;
}
body main .accesoriosSection .accesoriosContainer #accesorios .card .infoContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
body main .accesoriosSection .accesoriosContainer #accesorios .card .infoContainer h3 {
  height: 100%;
  font-size: 12px;
}
body main .accesoriosSection .accesoriosContainer #accesorios .card .infoContainer .precio {
  color: green;
  height: 100%;
  font-size: 12px;
}

@media (max-width: 768px) {
  body main .accesoriosSection {
    height: 40vh;
    margin-top: 0;
  }
  body main .accesoriosSection .accesoriosContainer .fa-solid {
    display: none;
  }
  body main .accesoriosSection .accesoriosContainer #accesorios {
    width: 90%;
    height: 30vh;
    overflow-x: auto;
  }
  body main .accesoriosSection .accesoriosContainer #accesorios .card {
    flex: 0 0 calc(100% - 10px);
  }
  body main .accesoriosSection .accesoriosContainer #accesorios .card .infoContainer {
    min-height: 40px;
  }
  body main .accesoriosSection .accesoriosContainer #accesorios .card .infoContainer h3, body main .accesoriosSection .accesoriosContainer #accesorios .card .infoContainer .precio {
    font-size: 17px;
  }
}

/*# sourceMappingURL=styles.css.map */
