@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "liter", serif;
}

body {
  position: relative;
  width: 100%;
  border: none;
}

body {
  margin: 0;
  padding: 0;
}
body main .manijasSection {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .manijasSection .manijasContainer {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .manijasSection .manijasContainer .fa-chevron-left,
body main .manijasSection .manijasContainer .fa-chevron-left-acc {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
body main .manijasSection .manijasContainer .fa-chevron-left.hidden,
body main .manijasSection .manijasContainer .fa-chevron-left-acc.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
body main .manijasSection .manijasContainer .fa-chevron-right {
  font-size: 15px;
  margin-left: 10px;
  cursor: pointer;
}
body main .manijasSection .manijasContainer .fa-chevron-left {
  font-size: 15px;
  margin-right: 10px;
  cursor: pointer;
}
body main .manijasSection .manijasContainer .fa-solid {
  transition: all 0.5s;
}
body main .manijasSection .manijasContainer #manijas {
  width: calc(90% - 60px);
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}
body main .manijasSection .manijasContainer #manijas .card {
  border: solid 1px #abaaaa;
  flex: 0 0 calc(25% - 10px);
  height: 150px;
  display: flex;
  flex-direction: column;
  margin: 0 5px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #efefef;
  box-shadow: rgba(0, 0, 0, 0.1254901961) 0px 0px 7px 1px;
  height: auto;
  box-sizing: border-box;
  cursor: pointer;
}
body main .manijasSection .manijasContainer #manijas .card .imgContainer {
  box-shadow: inset 0px 0px 6px 1px rgba(0, 0, 0, 0.1882352941);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border-bottom: dashed 1px #abaaaa;
  background-color: #f1ebeb;
}
body main .manijasSection .manijasContainer #manijas .card .imgContainer .img {
  width: 80%;
  height: 100%;
  object-fit: cover;
  display: block;
}
body main .manijasSection .manijasContainer #manijas .card .imgContainer.active {
  cursor: zoom-out;
}
body main .manijasSection .manijasContainer #manijas .card .infoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
body main .manijasSection .manijasContainer #manijas .card .infoContainer h3 {
  height: 100%;
  font-size: 12px;
}
body main .manijasSection .manijasContainer #manijas .card .infoContainer .medidas {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  font-size: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
body main .manijasSection .manijasContainer #manijas .card .infoContainer .precio {
  color: green;
  height: 100%;
  font-size: 12px;
}
body main .manijasSection .manijasContainer #manijas .zoom-view {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
  z-index: 1000;
  background-color: #f1ebeb;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: all 0.3s ease;
}
body main .manijasSection .manijasContainer #manijas .zoom-view .close-btn {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
body main .manijasSection .manijasContainer #manijas .zoom-view .close-btn i {
  color: #333;
  font-size: 16px;
}
body main .manijasSection .manijasContainer #manijas .zoom-view img {
  max-width: 70vw;
  max-height: 70vh;
  object-fit: contain;
}
body main .manijasSection .manijasContainer #manijas .zoom-view .zoom-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
body main .manijasSection .manijasContainer #manijas .zoom-view .zoom-info .zoom-medidas {
  color: gray;
}
body main .manijasSection .manijasContainer #manijas .zoom-view.active {
  display: block;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
body main .manijasSection .manijasContainer #manijas .overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  opacity: 0;
  transition: opacity 0.3s ease;
}
body main .manijasSection .manijasContainer #manijas .overlay.active {
  display: block;
  opacity: 1;
}

@media (max-width: 737px) {
  body main .manijasSection {
    height: 35vh;
    margin-top: 0;
  }
  body main .manijasSection .manijasContainer .fa-solid {
    display: none;
  }
  body main .manijasSection .manijasContainer #manijas {
    width: 90%;
    height: auto;
    overflow-x: auto;
  }
  body main .manijasSection .manijasContainer #manijas .zoom-view {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7);
    z-index: 1000;
    background-color: #f1ebeb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: all 0.3s ease;
  }
  body main .manijasSection .manijasContainer #manijas .zoom-view .close-btn {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  }
  body main .manijasSection .manijasContainer #manijas .zoom-view .close-btn i {
    display: block;
  }
  body main .manijasSection .manijasContainer #manijas .zoom-view .close-btn i {
    color: #333;
    font-size: 16px;
  }
  body main .manijasSection .manijasContainer #manijas .zoom-view img {
    max-width: 60vw;
    max-height: 50vh;
    object-fit: contain;
  }
  body main .manijasSection .manijasContainer #manijas .zoom-view.active {
    display: block;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  body main .manijasSection .manijasContainer #manijas .card {
    flex: 0 0 calc(100% - 10px);
  }
  body main .manijasSection .manijasContainer #manijas .card .infoContainer {
    min-height: 40px;
  }
  body main .manijasSection .manijasContainer #manijas .card .infoContainer h3,
  body main .manijasSection .manijasContainer #manijas .card .infoContainer .precio {
    font-size: 17px;
  }
}
header {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}
header nav {
  width: 100%;
  height: 60px;
  background-color: #084a95;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2509803922);
}
header nav .logoContainer {
  width: 20%;
  margin-left: 30px;
}
header nav .logoContainer .logo {
  width: 100%;
}
header nav .fa-solid {
  display: none;
}
header nav ul {
  display: flex;
  text-decoration: none;
  gap: 10px;
  list-style: none;
  margin-right: 70px;
}
header nav ul li {
  cursor: pointer;
}
header nav ul li a {
  text-decoration: none;
  color: #efefef;
}

@media (max-width: 737px) {
  header nav {
    height: 70px;
    justify-content: space-between;
    position: relative;
  }
  header nav .logoContainer {
    width: 50%;
    margin-left: 10px;
  }
  header nav .logoContainer .logo {
    transform: translateY(5px);
  }
  header nav .fa-solid {
    display: block;
    margin-right: 40px;
    font-size: 25px;
    color: white;
    z-index: 4;
  }
  header nav ul {
    background-color: #084a95;
    padding-top: 80px;
    padding-left: 20px;
    position: fixed;
    flex-direction: column;
    margin-right: 0;
    width: 150px;
    height: 100vh;
    right: -150px;
    top: 0;
    transition: 0.6s ease;
    z-index: 3;
  }
  header nav ul li {
    margin-top: 20px;
  }
  header nav ul li a {
    font-size: 20px;
  }
  header nav .animation {
    right: 0;
  }
}
body main .placasSection {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .placasSection .placasContainer {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .placasSection .placasContainer .fa-chevron-left-acc,
body main .placasSection .placasContainer .fa-chevron-right-acc {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
body main .placasSection .placasContainer .fa-chevron-left-acc.hidden,
body main .placasSection .placasContainer .fa-chevron-right-acc.hidden {
  opacity: 0;
  visibility: hidden;
}
body main .placasSection .placasContainer .fa-chevron-right-acc {
  font-size: 15px;
  margin-left: 10px;
  cursor: pointer;
}
body main .placasSection .placasContainer .fa-chevron-left-acc {
  font-size: 15px;
  margin-right: 10px;
  cursor: pointer;
}
body main .placasSection .placasContainer .fa-solid {
  transition: all 0.5s;
}
body main .placasSection .placasContainer #placas {
  position: relative;
  width: calc(90% - 60px);
  display: flex;
  align-items: center;
  overflow: hidden;
}
body main .placasSection .placasContainer #placas .zoom-view {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
  z-index: 1000;
  background-color: #f1ebeb;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: all 0.3s ease;
}
body main .placasSection .placasContainer #placas .zoom-view .close-btn {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
body main .placasSection .placasContainer #placas .zoom-view .close-btn i {
  color: #333;
  font-size: 16px;
}
body main .placasSection .placasContainer #placas .zoom-view img {
  max-width: 70vw;
  max-height: 70vh;
  object-fit: contain;
}
body main .placasSection .placasContainer #placas .zoom-view .zoom-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
body main .placasSection .placasContainer #placas .zoom-view .zoom-info .zoom-medidas {
  color: gray;
}
body main .placasSection .placasContainer #placas .zoom-view.active {
  display: block;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
body main .placasSection .placasContainer #placas .overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  opacity: 0;
  transition: opacity 0.3s ease;
}
body main .placasSection .placasContainer #placas .overlay.active {
  display: block;
  opacity: 1;
}
body main .placasSection .placasContainer #placas .card {
  border: solid 1px #abaaaa;
  flex: 0 0 calc(25% - 10px);
  height: 150px;
  display: flex;
  flex-direction: column;
  margin: 0 5px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #efefef;
  box-shadow: rgba(0, 0, 0, 0.1254901961) 0px 0px 7px 1px;
  height: auto;
  box-sizing: border-box;
  cursor: pointer;
}
body main .placasSection .placasContainer #placas .card .imgContainer {
  box-shadow: inset 0px 0px 6px 1px rgba(0, 0, 0, 0.1882352941);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1ebeb;
  border-bottom: dashed 1px #abaaaa;
}
body main .placasSection .placasContainer #placas .card .imgContainer .img {
  width: 80%;
  height: 100%;
  object-fit: cover;
  display: block;
}
body main .placasSection .placasContainer #placas .card .infoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
body main .placasSection .placasContainer #placas .card .infoContainer h3 {
  height: 100%;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
body main .placasSection .placasContainer #placas .card .infoContainer .medidas {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  font-size: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (max-width: 737px) {
  body main .placasSection {
    height: 35vh;
    margin-top: 0;
  }
  body main .placasSection .placasContainer .fa-solid {
    display: none;
  }
  body main .placasSection .placasContainer #placas {
    width: 90%;
    height: auto;
    overflow-x: auto;
  }
  body main .placasSection .placasContainer #placas .zoom-view .close-btn {
    width: 30px;
    height: 30px;
  }
  body main .placasSection .placasContainer #placas .zoom-view .close-btn i {
    display: block;
  }
  body main .placasSection .placasContainer #placas .zoom-view img {
    max-width: 60vw;
    max-height: 50vh;
  }
  body main .placasSection .placasContainer #placas .card {
    flex: 0 0 calc(100% - 10px);
  }
  body main .placasSection .placasContainer #placas .card .infoContainer {
    min-height: 40px;
  }
  body main .placasSection .placasContainer #placas .card .infoContainer h3 {
    font-size: 17px;
  }
}
body .sobreNosotros {
  position: relative;
  width: 100%;
  height: 60vh;
  background-color: #f2f2f2;
  background-image: url("../assets/img/welderAboutUs.jpeg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
body .sobreNosotros::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.3s ease;
  z-index: 1;
}
body .sobreNosotros:hover::before {
  background-color: rgba(0, 0, 0, 0.6);
  filter: blur(3px);
}
body .sobreNosotros .textContainer {
  margin: 0px 40px;
  position: relative;
  z-index: 2;
}
body .sobreNosotros .textContainer p {
  font-size: 18px;
  margin: 20px 0px;
  text-align: center;
  color: #efefef;
  text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.7), 1px 1px 2px rgba(255, 255, 255, 0.4);
}

@media (max-width: 737px) {
  body .sobreNosotros {
    height: 50vh; /* Ajusta la altura para móviles */
    /* Oscurece la imagen de fondo en móviles sin hover */
    background-position: 50% 50%;
  }
  body .sobreNosotros::before {
    background-color: rgba(0, 0, 0, 0.5); /* Oscurece la imagen */
  }
  body .sobreNosotros .textContainer {
    height: auto;
    margin: 0px 10px; /* Ajusta el margen */
  }
  body .sobreNosotros .textContainer p {
    font-size: 18px; /* Ajusta el tamaño del texto para móviles */
  }
}
body footer {
  width: 100%;
  height: 100px;
  background-color: #084a95;
  display: flex;
  justify-content: space-around;
}
body footer .footer01 {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
body footer .footer01 img {
  width: 70%;
}
body footer .footer02 {
  width: 40%;
  height: 100%;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body footer .footer02 .locationContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
body footer .footer02 .locationContainer a {
  display: flex;
  align-items: center;
  color: #efefef;
  gap: 5px;
  text-decoration: none;
}
body footer .footer02 .emailContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
body footer .footer02 .emailContainer a {
  display: flex;
  align-items: center;
  color: #efefef;
  gap: 5px;
  text-decoration: none;
}
body footer .footer02 .wpContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
body footer .footer02 .wpContainer a {
  display: flex;
  align-items: center;
  color: #efefef;
  gap: 5px;
  text-decoration: none;
}

@media (max-width: 737px) {
  body footer {
    width: 100%;
    height: auto;
    background-color: #084a95;
    display: inline-block;
    justify-content: space-around;
  }
  body footer .footer01 {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
  }
  body footer .footer01 img {
    width: 50%;
  }
  body footer .footer02 {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 10px 0px 30px 0px;
  }
  body footer .footer02 .locationContainer {
    width: auto;
    display: flex;
    justify-content: flex-end;
  }
  body footer .footer02 .locationContainer a {
    display: flex;
    align-items: center;
    color: #efefef;
    gap: 5px;
    text-decoration: none;
  }
  body footer .footer02 .emailContainer {
    width: auto;
    display: flex;
    justify-content: flex-end;
  }
  body footer .footer02 .emailContainer a {
    display: flex;
    align-items: center;
    color: #efefef;
    gap: 5px;
    text-decoration: none;
  }
  body footer .footer02 .wpContainer {
    width: auto;
    display: flex;
    justify-content: flex-end;
  }
  body footer .footer02 .wpContainer a {
    display: flex;
    align-items: center;
    color: #efefef;
    gap: 5px;
    text-decoration: none;
  }
}
body main .manijasSectionProductos {
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .manijasSectionProductos .manijasContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body main .manijasSectionProductos .manijasContainer .title {
  width: 90%;
  font-size: 22px;
  color: #084a95;
  margin: 15px 0px 10px 15px;
}
body main .manijasSectionProductos .manijasContainer #manijas {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  height: auto;
}
body main .manijasSectionProductos .manijasContainer #manijas .card {
  border: solid 1px #abaaaa;
  flex: 0 0 calc(25% - 10px);
  height: 150px;
  width: 350px;
  display: flex;
  flex-direction: column;
  margin: 5px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #efefef;
  box-shadow: rgba(0, 0, 0, 0.1254901961) 0px 0px 7px 1px;
  height: auto;
  box-sizing: border-box;
  cursor: pointer;
}
body main .manijasSectionProductos .manijasContainer #manijas .card .imgContainer {
  box-shadow: inset 0px 0px 6px 1px rgba(0, 0, 0, 0.1882352941);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border-bottom: dashed 1px #abaaaa;
  background-color: #f1ebeb;
}
body main .manijasSectionProductos .manijasContainer #manijas .card .imgContainer .img {
  width: 80%;
  height: 100%;
  object-fit: cover;
  display: block;
}
body main .manijasSectionProductos .manijasContainer #manijas .card .imgContainer.active {
  cursor: zoom-out;
}
body main .manijasSectionProductos .manijasContainer #manijas .card .infoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
body main .manijasSectionProductos .manijasContainer #manijas .card .infoContainer h3 {
  height: 100%;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
body main .manijasSectionProductos .manijasContainer #manijas .card .infoContainer .medidas {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  font-size: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
body main .manijasSectionProductos .manijasContainer #manijas .card .infoContainer .precio {
  color: green;
  height: 100%;
  font-size: 12px;
}
body main .manijasSectionProductos .manijasContainer #manijas .zoom-view {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
  z-index: 1000;
  background-color: #f1ebeb;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: all 0.3s ease;
}
body main .manijasSectionProductos .manijasContainer #manijas .zoom-view .close-btn {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
body main .manijasSectionProductos .manijasContainer #manijas .zoom-view .close-btn i {
  color: #333;
  font-size: 16px;
}
body main .manijasSectionProductos .manijasContainer #manijas .zoom-view img {
  max-width: 70vw;
  max-height: 70vh;
  object-fit: contain;
}
body main .manijasSectionProductos .manijasContainer #manijas .zoom-view .zoom-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
body main .manijasSectionProductos .manijasContainer #manijas .zoom-view .zoom-info .zoom-medidas {
  color: gray;
}
body main .manijasSectionProductos .manijasContainer #manijas .zoom-view.active {
  display: block;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
body main .manijasSectionProductos .manijasContainer #manijas .overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  opacity: 0;
  transition: opacity 0.3s ease;
}
body main .manijasSectionProductos .manijasContainer #manijas .overlay.active {
  display: block;
  opacity: 1;
}
body main .placasSectionProductos {
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .placasSectionProductos .placasContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body main .placasSectionProductos .placasContainer .title {
  width: 90%;
  font-size: 22px;
  color: #084a95;
  margin: 15px 0px 10px 15px;
}
body main .placasSectionProductos .placasContainer #placas {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  height: auto;
}
body main .placasSectionProductos .placasContainer #placas .card {
  border: solid 1px #abaaaa;
  flex: 0 0 calc(25% - 10px);
  height: 150px;
  width: 350px;
  display: flex;
  flex-direction: column;
  margin: 5px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #efefef;
  box-shadow: rgba(0, 0, 0, 0.1254901961) 0px 0px 7px 1px;
  height: auto;
  box-sizing: border-box;
  cursor: pointer;
}
body main .placasSectionProductos .placasContainer #placas .card .imgContainer {
  box-shadow: inset 0px 0px 6px 1px rgba(0, 0, 0, 0.1882352941);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border-bottom: dashed 1px #abaaaa;
  background-color: #f1ebeb;
}
body main .placasSectionProductos .placasContainer #placas .card .imgContainer .img {
  width: 80%;
  height: 100%;
  object-fit: cover;
  display: block;
}
body main .placasSectionProductos .placasContainer #placas .card .imgContainer.active {
  cursor: zoom-out;
}
body main .placasSectionProductos .placasContainer #placas .card .infoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
body main .placasSectionProductos .placasContainer #placas .card .infoContainer h3 {
  height: 100%;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
body main .placasSectionProductos .placasContainer #placas .card .infoContainer .medidas {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  font-size: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
body main .placasSectionProductos .placasContainer #placas .card .infoContainer .precio {
  color: green;
  height: 100%;
  font-size: 12px;
}
body main .placasSectionProductos .placasContainer #placas .zoom-view {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
  z-index: 1000;
  background-color: #f1ebeb;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: all 0.3s ease;
}
body main .placasSectionProductos .placasContainer #placas .zoom-view .close-btn {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
body main .placasSectionProductos .placasContainer #placas .zoom-view .close-btn i {
  color: #333;
  font-size: 16px;
}
body main .placasSectionProductos .placasContainer #placas .zoom-view img {
  max-width: 70vw;
  max-height: 70vh;
  object-fit: contain;
}
body main .placasSectionProductos .placasContainer #placas .zoom-view .zoom-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
body main .placasSectionProductos .placasContainer #placas .zoom-view .zoom-info .zoom-medidas {
  color: gray;
}
body main .placasSectionProductos .placasContainer #placas .zoom-view.active {
  display: block;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
body main .placasSectionProductos .placasContainer #placas .overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  opacity: 0;
  transition: opacity 0.3s ease;
}
body main .placasSectionProductos .placasContainer #placas .overlay.active {
  display: block;
  opacity: 1;
}
body main .crucesSectionProductos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
body main .crucesSectionProductos .crucesContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body main .crucesSectionProductos .crucesContainer .title {
  width: 90%;
  font-size: 22px;
  color: #084a95;
  margin: 15px 0px 10px 15px;
}
body main .crucesSectionProductos .crucesContainer #cruces {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  height: auto;
}
body main .crucesSectionProductos .crucesContainer #cruces .card {
  border: solid 1px #abaaaa;
  flex: 0 0 calc(25% - 10px);
  height: 150px;
  width: 350px;
  display: flex;
  flex-direction: column;
  margin: 5px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #efefef;
  box-shadow: rgba(0, 0, 0, 0.1254901961) 0px 0px 7px 1px;
  height: auto;
  box-sizing: border-box;
  cursor: pointer;
}
body main .crucesSectionProductos .crucesContainer #cruces .card .imgContainer {
  box-shadow: inset 0px 0px 6px 1px rgba(0, 0, 0, 0.1882352941);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border-bottom: dashed 1px #abaaaa;
  background-color: #f1ebeb;
}
body main .crucesSectionProductos .crucesContainer #cruces .card .imgContainer .img {
  width: 80%;
  height: 100%;
  object-fit: cover;
  display: block;
}
body main .crucesSectionProductos .crucesContainer #cruces .card .imgContainer.active {
  cursor: zoom-out;
}
body main .crucesSectionProductos .crucesContainer #cruces .card .infoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
body main .crucesSectionProductos .crucesContainer #cruces .card .infoContainer h3 {
  height: 100%;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
body main .crucesSectionProductos .crucesContainer #cruces .card .infoContainer .medidas {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  font-size: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
body main .crucesSectionProductos .crucesContainer #cruces .card .infoContainer .precio {
  color: green;
  height: 100%;
  font-size: 12px;
}
body main .crucesSectionProductos .crucesContainer #cruces .zoom-view {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
  z-index: 1000;
  background-color: #f1ebeb;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: all 0.3s ease;
}
body main .crucesSectionProductos .crucesContainer #cruces .zoom-view .close-btn {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
body main .crucesSectionProductos .crucesContainer #cruces .zoom-view .close-btn i {
  color: #333;
  font-size: 16px;
}
body main .crucesSectionProductos .crucesContainer #cruces .zoom-view img {
  max-width: 70vw;
  max-height: 70vh;
  object-fit: contain;
}
body main .crucesSectionProductos .crucesContainer #cruces .zoom-view .zoom-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
body main .crucesSectionProductos .crucesContainer #cruces .zoom-view .zoom-info .zoom-medidas {
  color: gray;
}
body main .crucesSectionProductos .crucesContainer #cruces .zoom-view.active {
  display: block;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
body main .crucesSectionProductos .crucesContainer #cruces .overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  opacity: 0;
  transition: opacity 0.3s ease;
}
body main .crucesSectionProductos .crucesContainer #cruces .overlay.active {
  display: block;
  opacity: 1;
}

@media (max-width: 737px) {
  body main .herrajesSectionProductos {
    margin: 20px;
    display: flex;
    justify-content: center;
  }
  body main .herrajesSectionProductos .herrajesContainer {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body main .herrajesSectionProductos .herrajesContainer #herrajes {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }
  body main .herrajesSectionProductos .herrajesContainer #herrajes .card {
    border: solid 1px #abaaaa;
    flex: 0 0 calc(50% - 10px);
    height: 150px;
    width: 350px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #efefef;
    box-shadow: rgba(0, 0, 0, 0.1254901961) 0px 0px 7px 1px;
    height: auto;
    box-sizing: border-box;
    cursor: pointer;
  }
  body main .herrajesSectionProductos .herrajesContainer #herrajes .card .imgContainer {
    box-shadow: inset 0px 0px 6px 1px rgba(0, 0, 0, 0.1882352941);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-bottom: dashed 1px #abaaaa;
    background-color: #f1ebeb;
  }
  body main .herrajesSectionProductos .herrajesContainer #herrajes .card .imgContainer .img {
    width: 80%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  body main .herrajesSectionProductos .herrajesContainer #herrajes .card .imgContainer.active {
    cursor: zoom-out;
  }
  body main .herrajesSectionProductos .herrajesContainer #herrajes .card .infoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
  }
  body main .herrajesSectionProductos .herrajesContainer #herrajes .card .infoContainer h3 {
    height: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 10px;
  }
  body main .herrajesSectionProductos .herrajesContainer #herrajes .card .infoContainer .medidas {
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    font-size: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  body main .herrajesSectionProductos .herrajesContainer #herrajes .card .infoContainer .precio {
    color: green;
    height: 100%;
    font-size: 12px;
  }
  body main .herrajesSectionProductos .herrajesContainer #herrajes .zoom-view {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7);
    z-index: 1000;
    background-color: #f1ebeb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: all 0.3s ease;
  }
  body main .herrajesSectionProductos .herrajesContainer #herrajes .zoom-view .close-btn {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  }
  body main .herrajesSectionProductos .herrajesContainer #herrajes .zoom-view .close-btn i {
    color: #333;
    font-size: 16px;
  }
  body main .herrajesSectionProductos .herrajesContainer #herrajes .zoom-view img {
    max-width: 70vw;
    max-height: 70vh;
    object-fit: contain;
  }
  body main .herrajesSectionProductos .herrajesContainer #herrajes .zoom-view .zoom-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  body main .herrajesSectionProductos .herrajesContainer #herrajes .zoom-view .zoom-info .zoom-medidas {
    color: gray;
  }
  body main .herrajesSectionProductos .herrajesContainer #herrajes .zoom-view.active {
    display: block;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  body main .herrajesSectionProductos .herrajesContainer #herrajes .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  body main .herrajesSectionProductos .herrajesContainer #herrajes .overlay.active {
    display: block;
    opacity: 1;
  }
  body main .accesoriosSectionProductos {
    margin: 20px;
    display: flex;
    justify-content: center;
  }
  body main .accesoriosSectionProductos .accesoriosContainer {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body main .accesoriosSectionProductos .accesoriosContainer #accesorios {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }
  body main .accesoriosSectionProductos .accesoriosContainer #accesorios .card {
    border: solid 1px #abaaaa;
    flex: 0 0 calc(50% - 10px);
    height: 150px;
    width: 350px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #efefef;
    box-shadow: rgba(0, 0, 0, 0.1254901961) 0px 0px 7px 1px;
    height: auto;
    box-sizing: border-box;
    cursor: pointer;
  }
  body main .accesoriosSectionProductos .accesoriosContainer #accesorios .card .imgContainer {
    box-shadow: inset 0px 0px 6px 1px rgba(0, 0, 0, 0.1882352941);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-bottom: dashed 1px #abaaaa;
    background-color: #f1ebeb;
  }
  body main .accesoriosSectionProductos .accesoriosContainer #accesorios .card .imgContainer .img {
    width: 80%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  body main .accesoriosSectionProductos .accesoriosContainer #accesorios .card .imgContainer.active {
    cursor: zoom-out;
  }
  body main .accesoriosSectionProductos .accesoriosContainer #accesorios .card .infoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
  }
  body main .accesoriosSectionProductos .accesoriosContainer #accesorios .card .infoContainer h3 {
    height: 100%;
    font-size: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  body main .accesoriosSectionProductos .accesoriosContainer #accesorios .card .infoContainer .medidas {
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    font-size: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
body main .crucesSection {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .crucesSection .crucesContainer {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .crucesSection .crucesContainer .fa-chevron-left-cruces,
body main .crucesSection .crucesContainer .fa-chevron-right-cruces {
  margin: 5px;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
body main .crucesSection .crucesContainer .fa-chevron-left-cruces.hidden,
body main .crucesSection .crucesContainer .fa-chevron-right-cruces.hidden {
  opacity: 0;
  visibility: hidden;
}
body main .crucesSection .crucesContainer .fa-chevron-right-acc {
  font-size: 15px;
  margin-left: 10px;
  cursor: pointer;
}
body main .crucesSection .crucesContainer .fa-chevron-left-acc {
  font-size: 15px;
  margin-right: 10px;
  cursor: pointer;
}
body main .crucesSection .crucesContainer .fa-solid {
  transition: all 0.5s;
}
body main .crucesSection .crucesContainer #cruces {
  position: relative;
  width: calc(90% - 60px);
  display: flex;
  align-items: center;
  overflow: hidden;
}
body main .crucesSection .crucesContainer #cruces .zoom-view {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
  z-index: 1000;
  background-color: #f1ebeb;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: all 0.3s ease;
}
body main .crucesSection .crucesContainer #cruces .zoom-view .close-btn {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
body main .crucesSection .crucesContainer #cruces .zoom-view .close-btn i {
  color: #333;
  font-size: 16px;
}
body main .crucesSection .crucesContainer #cruces .zoom-view img {
  max-width: 70vw;
  max-height: 70vh;
  object-fit: contain;
}
body main .crucesSection .crucesContainer #cruces .zoom-view .zoom-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
body main .crucesSection .crucesContainer #cruces .zoom-view .zoom-info .zoom-medidas {
  color: gray;
}
body main .crucesSection .crucesContainer #cruces .zoom-view.active {
  display: block;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
body main .crucesSection .crucesContainer #cruces .overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  opacity: 0;
  transition: opacity 0.3s ease;
}
body main .crucesSection .crucesContainer #cruces .overlay.active {
  display: block;
  opacity: 1;
}
body main .crucesSection .crucesContainer #cruces .card {
  border: solid 1px #abaaaa;
  flex: 0 0 calc(25% - 10px);
  height: 150px;
  display: flex;
  flex-direction: column;
  margin: 0 5px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #efefef;
  box-shadow: rgba(0, 0, 0, 0.1254901961) 0px 0px 7px 1px;
  height: auto;
  box-sizing: border-box;
  cursor: pointer;
}
body main .crucesSection .crucesContainer #cruces .card .imgContainer {
  box-shadow: inset 0px 0px 6px 1px rgba(0, 0, 0, 0.1882352941);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1ebeb;
  border-bottom: dashed 1px #abaaaa;
}
body main .crucesSection .crucesContainer #cruces .card .imgContainer .img {
  width: 80%;
  height: 100%;
  object-fit: cover;
  display: block;
}
body main .crucesSection .crucesContainer #cruces .card .infoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
body main .crucesSection .crucesContainer #cruces .card .infoContainer h3 {
  height: 100%;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
body main .crucesSection .crucesContainer #cruces .card .infoContainer .medidas {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  font-size: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (max-width: 737px) {
  body main .crucesSection {
    height: 35vh;
    margin-top: 0;
  }
  body main .crucesSection .crucesContainer .fa-solid {
    display: none;
  }
  body main .crucesSection .crucesContainer #cruces {
    width: 90%;
    height: auto;
    overflow-x: auto;
  }
  body main .crucesSection .crucesContainer #cruces .zoom-view .close-btn {
    width: 30px;
    height: 30px;
  }
  body main .crucesSection .crucesContainer #cruces .zoom-view .close-btn i {
    display: block;
  }
  body main .crucesSection .crucesContainer #cruces .zoom-view img {
    max-width: 60vw;
    max-height: 50vh;
  }
  body main .crucesSection .crucesContainer #cruces .card {
    flex: 0 0 calc(100% - 10px);
  }
  body main .crucesSection .crucesContainer #cruces .card .infoContainer {
    min-height: 40px;
  }
  body main .crucesSection .crucesContainer #cruces .card .infoContainer h3 {
    font-size: 17px;
  }
}

/*# sourceMappingURL=styles.css.map */
