@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "liter", serif;
}

body {
  position: relative;
  width: 100%;
  border: none;
}

body {
  margin: 0;
  padding: 0;
}
body main .herrajesSection {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .herrajesSection .herrajesContainer {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .herrajesSection .herrajesContainer .fa-chevron-left,
body main .herrajesSection .herrajesContainer .fa-chevron-left-acc {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
body main .herrajesSection .herrajesContainer .fa-chevron-left.hidden,
body main .herrajesSection .herrajesContainer .fa-chevron-left-acc.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
body main .herrajesSection .herrajesContainer .fa-chevron-right {
  font-size: 15px;
  margin-left: 10px;
  cursor: pointer;
}
body main .herrajesSection .herrajesContainer .fa-chevron-left {
  font-size: 15px;
  margin-right: 10px;
  cursor: pointer;
}
body main .herrajesSection .herrajesContainer .fa-solid {
  transition: all 0.5s;
}
body main .herrajesSection .herrajesContainer .fa-solid:hover {
  transform: scale(1.3);
  color: #084a95;
}
body main .herrajesSection .herrajesContainer #herrajes {
  width: calc(90% - 60px);
  display: flex;
  align-items: center;
  overflow: hidden;
}
body main .herrajesSection .herrajesContainer #herrajes .card {
  border: solid 1px #abaaaa;
  flex: 0 0 calc(25% - 10px);
  height: 150px;
  display: flex;
  flex-direction: column;
  margin: 0 5px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #efefef;
  box-shadow: rgba(0, 0, 0, 0.1254901961) 0px 0px 7px 1px;
  height: auto;
  box-sizing: border-box;
  cursor: pointer;
}
body main .herrajesSection .herrajesContainer #herrajes .card .imgContainer {
  box-shadow: inset 0px 0px 6px 1px rgba(0, 0, 0, 0.1882352941);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border-bottom: dashed 1px #abaaaa;
  background-color: #f1ebeb;
}
body main .herrajesSection .herrajesContainer #herrajes .card .imgContainer .img {
  width: 80%;
  height: 100%;
  object-fit: cover;
  display: block;
}
body main .herrajesSection .herrajesContainer #herrajes .card .infoContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
body main .herrajesSection .herrajesContainer #herrajes .card .infoContainer h3 {
  height: 100%;
  font-size: 12px;
}
body main .herrajesSection .herrajesContainer #herrajes .card .infoContainer .precio {
  color: green;
  height: 100%;
  font-size: 12px;
}

@media (max-width: 737px) {
  body main .herrajesSection {
    height: 35vh;
    margin-top: 0;
  }
  body main .herrajesSection .herrajesContainer .fa-solid {
    display: none;
  }
  body main .herrajesSection .herrajesContainer #herrajes {
    width: 90%;
    height: auto;
    overflow-x: auto;
  }
  body main .herrajesSection .herrajesContainer #herrajes .card {
    flex: 0 0 calc(100% - 10px);
  }
  body main .herrajesSection .herrajesContainer #herrajes .card .infoContainer {
    min-height: 40px;
  }
  body main .herrajesSection .herrajesContainer #herrajes .card .infoContainer h3, body main .herrajesSection .herrajesContainer #herrajes .card .infoContainer .precio {
    font-size: 17px;
  }
}
header {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}
header nav {
  width: 100%;
  height: 60px;
  background-color: #084a95;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2509803922);
}
header nav .logoContainer {
  width: 20%;
  margin-left: 30px;
}
header nav .logoContainer .logo {
  width: 100%;
}
header nav .fa-solid {
  display: none;
}
header nav ul {
  display: flex;
  text-decoration: none;
  gap: 10px;
  list-style: none;
  margin-right: 70px;
}
header nav ul li {
  cursor: pointer;
}
header nav ul li a {
  text-decoration: none;
  color: #efefef;
}

@media (max-width: 737px) {
  header nav {
    height: 70px;
    justify-content: space-between;
    position: relative;
  }
  header nav .logoContainer {
    width: 50%;
    margin-left: 10px;
  }
  header nav .logoContainer .logo {
    transform: translateY(5px);
  }
  header nav .fa-solid {
    display: block;
    margin-right: 40px;
    font-size: 25px;
    color: white;
    z-index: 4;
  }
  header nav ul {
    background-color: #084a95;
    padding-top: 80px;
    padding-left: 20px;
    position: fixed;
    flex-direction: column;
    margin-right: 0;
    width: 150px;
    height: 100vh;
    right: -150px;
    top: 0;
    transition: 0.6s ease;
    z-index: 3;
  }
  header nav ul li {
    margin-top: 20px;
  }
  header nav ul li a {
    font-size: 20px;
  }
  header nav .animation {
    right: 0;
  }
}
body main .accesoriosSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
body main .accesoriosSection .accesoriosContainer {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .accesoriosSection .accesoriosContainer .fa-chevron-left,
body main .accesoriosSection .accesoriosContainer .fa-chevron-left-acc,
body main .accesoriosSection .accesoriosContainer .fa-chevron-right,
body main .accesoriosSection .accesoriosContainer .fa-chevron-right-acc {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
body main .accesoriosSection .accesoriosContainer .fa-chevron-left.hidden,
body main .accesoriosSection .accesoriosContainer .fa-chevron-left-acc.hidden,
body main .accesoriosSection .accesoriosContainer .fa-chevron-right.hidden,
body main .accesoriosSection .accesoriosContainer .fa-chevron-right-acc.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
body main .accesoriosSection .accesoriosContainer .fa-chevron-right {
  font-size: 15px;
  margin-left: 10px;
  cursor: pointer;
}
body main .accesoriosSection .accesoriosContainer .fa-chevron-left {
  font-size: 15px;
  margin-right: 10px;
  cursor: pointer;
}
body main .accesoriosSection .accesoriosContainer .fa-solid {
  transition: all 0.5s;
}
body main .accesoriosSection .accesoriosContainer .fa-solid:hover {
  transform: scale(1.3);
  color: #084a95;
}
body main .accesoriosSection .accesoriosContainer #accesorios {
  width: calc(90% - 60px);
  display: flex;
  align-items: center;
  overflow: hidden;
}
body main .accesoriosSection .accesoriosContainer #accesorios .card {
  border: solid 1px #abaaaa;
  flex: 0 0 calc(25% - 10px);
  height: 150px;
  display: flex;
  flex-direction: column;
  margin: 0 5px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #efefef;
  box-shadow: rgba(0, 0, 0, 0.1254901961) 0px 0px 7px 1px;
  height: auto;
  box-sizing: border-box;
  cursor: pointer;
}
body main .accesoriosSection .accesoriosContainer #accesorios .card .imgContainer {
  box-shadow: inset 0px 0px 6px 1px rgba(0, 0, 0, 0.1882352941);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border-bottom: dashed 1px #abaaaa;
  background-color: #f1ebeb;
}
body main .accesoriosSection .accesoriosContainer #accesorios .card .imgContainer .img {
  width: 80%;
  height: auto;
  object-fit: cover;
  display: block;
}
body main .accesoriosSection .accesoriosContainer #accesorios .card .infoContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
body main .accesoriosSection .accesoriosContainer #accesorios .card .infoContainer h3 {
  height: 100%;
  font-size: 12px;
}
body main .accesoriosSection .accesoriosContainer #accesorios .card .infoContainer .precio {
  color: green;
  height: 100%;
  font-size: 12px;
}

@media (max-width: 737px) {
  body main .accesoriosSection {
    height: 35vh;
    margin-top: 0;
  }
  body main .accesoriosSection .accesoriosContainer .fa-solid {
    display: none;
  }
  body main .accesoriosSection .accesoriosContainer #accesorios {
    width: 90%;
    height: auto;
    overflow-x: auto;
  }
  body main .accesoriosSection .accesoriosContainer #accesorios .card {
    flex: 0 0 calc(100% - 10px);
  }
  body main .accesoriosSection .accesoriosContainer #accesorios .card .infoContainer {
    min-height: 40px;
  }
  body main .accesoriosSection .accesoriosContainer #accesorios .card .infoContainer h3, body main .accesoriosSection .accesoriosContainer #accesorios .card .infoContainer .precio {
    font-size: 17px;
  }
}
body .sobreNosotros {
  position: relative;
  width: 100%;
  height: 60vh;
  background-color: #f2f2f2;
  background-image: url("../assets/img/welderAboutUs.jpeg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
body .sobreNosotros::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.3s ease;
  z-index: 1;
}
body .sobreNosotros:hover::before {
  background-color: rgba(0, 0, 0, 0.6);
  filter: blur(3px);
}
body .sobreNosotros .textContainer {
  margin: 0px 40px;
  position: relative;
  z-index: 2;
}
body .sobreNosotros .textContainer p {
  font-size: 18px;
  margin: 20px 0px;
  text-align: center;
  color: #efefef;
  text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.7), 1px 1px 2px rgba(255, 255, 255, 0.4);
}

@media (max-width: 737px) {
  body .sobreNosotros {
    height: 50vh; /* Ajusta la altura para móviles */
    /* Oscurece la imagen de fondo en móviles sin hover */
    background-position: 50% 50%;
  }
  body .sobreNosotros::before {
    background-color: rgba(0, 0, 0, 0.5); /* Oscurece la imagen */
  }
  body .sobreNosotros .textContainer {
    height: auto;
    margin: 0px 10px; /* Ajusta el margen */
  }
  body .sobreNosotros .textContainer p {
    font-size: 18px; /* Ajusta el tamaño del texto para móviles */
  }
}
body footer {
  width: 100%;
  height: 100px;
  background-color: #084a95;
  display: flex;
  justify-content: space-around;
}
body footer .footer01 {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
body footer .footer01 img {
  width: 70%;
}
body footer .footer02 {
  width: 40%;
  height: 100%;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body footer .footer02 .locationContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
body footer .footer02 .locationContainer a {
  display: flex;
  align-items: center;
  color: #efefef;
  gap: 5px;
  text-decoration: none;
}
body footer .footer02 .emailContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
body footer .footer02 .emailContainer a {
  display: flex;
  align-items: center;
  color: #efefef;
  gap: 5px;
  text-decoration: none;
}
body footer .footer02 .wpContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
body footer .footer02 .wpContainer a {
  display: flex;
  align-items: center;
  color: #efefef;
  gap: 5px;
  text-decoration: none;
}

@media (max-width: 737px) {
  body footer {
    width: 100%;
    height: auto;
    background-color: #084a95;
    display: inline-block;
    justify-content: space-around;
  }
  body footer .footer01 {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
  }
  body footer .footer01 img {
    width: 50%;
  }
  body footer .footer02 {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 10px 0px 30px 0px;
  }
  body footer .footer02 .locationContainer {
    width: auto;
    display: flex;
    justify-content: flex-end;
  }
  body footer .footer02 .locationContainer a {
    display: flex;
    align-items: center;
    color: #efefef;
    gap: 5px;
    text-decoration: none;
  }
  body footer .footer02 .emailContainer {
    width: auto;
    display: flex;
    justify-content: flex-end;
  }
  body footer .footer02 .emailContainer a {
    display: flex;
    align-items: center;
    color: #efefef;
    gap: 5px;
    text-decoration: none;
  }
  body footer .footer02 .wpContainer {
    width: auto;
    display: flex;
    justify-content: flex-end;
  }
  body footer .footer02 .wpContainer a {
    display: flex;
    align-items: center;
    color: #efefef;
    gap: 5px;
    text-decoration: none;
  }
}

/*# sourceMappingURL=styles.css.map */
