body {
  margin: 0;
  padding: 0;
  main {
    .herrajesSection {
      // height: 50vh;
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      // border: solid 1px red;
      .herrajesContainer {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        .fa-chevron-left,
        .fa-chevron-left-acc {
          opacity: 1;
          visibility: visible;
          transition: opacity 0.3s ease, visibility 0.3s ease;
        }

        .fa-chevron-left.hidden,
        .fa-chevron-left-acc.hidden {
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.3s ease, visibility 0.3s ease;
        }
        .fa-chevron-right {
          font-size: 15px;
          margin-left: 10px;
          cursor: pointer;
        }
        .fa-chevron-left {
          font-size: 15px;
          margin-right: 10px;
          cursor: pointer;
        }
        .fa-solid {
          transition: all 0.5s;
          &:hover {
            transform: scale(1.3);
            color: $main;
          }
        }
        #herrajes {
          width: calc(90% - 60px);
          display: flex;
          align-items: center;
          overflow: hidden;
          // height: 180px;
          .card {
            border: solid 1px $grisO;
            flex: 0 0 calc(25% - 10px);
            height: 150px;
            display: flex;
            flex-direction: column;
            margin: 0 5px;
            border-radius: 10px;
            overflow: hidden;
            background-color: $second;
            box-shadow: #00000020 0px 0px 7px 1px;
            height: auto;
            box-sizing: border-box;
            cursor: pointer;
            .imgContainer {
              box-shadow: inset 0px 0px 6px 1px #00000030;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: $gris;
              border-bottom: dashed 1px $grisO;
              background-color: #d2cfcf;
              .img {
                width: 80%;
                height: 100%;
                object-fit: cover;
                display: block;
              }
            }
            .infoContainer {
              // max-height: 40px;
              // background-color: red;
              display: flex;
              align-items: center;
              justify-content: space-around;
              // border: solid 5px blue;
              h3 {
                // border: solid 1px blue;
                height: 100%;
                font-size: 12px;
              }
              .precio {
                // display: flex ;
                // justify-content: center;
                // align-items: center;
                // border: solid 1px blue;
                color: green;
                height: 100%;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  body main .herrajesSection {
    height: 40vh;
    margin-top: 0;
    
    .herrajesContainer {
      .fa-solid {
        display: none;
      }
      
      #herrajes {
        width: 90%;
        height: auto;
        overflow-x: auto;
        
        .card {
          flex: 0 0 calc(100% - 10px);
          
          .infoContainer {
            min-height: 40px;
            
            h3, .precio {
              font-size: 17px;
            }
          }
        }
      }
    }
  }
}
