$main: #1565c0 ;
$main: #084a95 ;
$second: #efefef;
$gris: #f2f2f2;
$grisO: #828282;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "liter", serif;
}

body {
  position: relative;
  width: 100%;
//   border: solid 10px red;
  background-color: $gris;
}


